body{
    background-color: indigo;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1{
    font-size: 30px;
    color: white;
    text-align: center;
}

#container{

    background-color: lightskyblue;
    height: 400px;
    width: 400px;
    border: 5px solid white;
    display: flex;

    /* 1. direction flex */
    /* flex-direction: column; */
    /* flex-direction: row-reverse; */
    flex-direction: column-reverse;


    /* 2.justify-content */
    justify-content: space-evenly;
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    /* justify-content: flex-start; */
    /* justify-content: flex-end; */

    /* 3.flex-wrap: */
    /* flex-wrap: wrap; */
    /* flex-wrap: nowrap; */
    flex-wrap: wrap-reverse;

    /* 4.align-items */
    align-items: flex-start;
    /* align-items: flex-end; */
    /* align-items: center; */
}

.items{
    height: 50px;
    width: 50px;
}